# requirements.txt
psycopg2-binary==2.9.9
google-cloud-storage==2.10.0
google-cloud-bigquery==3.11.4
# requests==2.31.0
pandas==2.0.3
pyarrow==12.0.1
# Note: You no longer need 'google-auth-oauthlib' or 'google-api-python-client'
# explicitly if you're relying on the default Cloud Function service account
# and 'requests' for API calls.